.c-tooltip {
  position: relative;
  &--trigger {
    display: inline-block;
  }
  &--content {
    line-height: 1.5em;
    padding: 4px 8px;
    background-color: var(--casual-tooltip-bg);
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    color: var(--casual-tooltip-color);
    display: none;
    position: absolute;
    top: var(--c-tooltip-top);
    left: var(--c-tooltip-left);
  }
  &--arrow {
    position: absolute;
    background: var(--casual-tooltip-bg);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }

  // when showing
  &--show {
    .c-tooltip {
      &--content {
        display: block;
      }
    }
  }
}