.c-table {
  overflow-x: auto;
  position: relative;

  &--table {
    background-color: var(--casual-table-bg);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    font-size: 14px;
    display: table;
    line-height: 1.5em;
    table-layout: fixed;
  }

  thead,
  tbody,
  tr,
  th,
  td {
    border: none;
  }

  tr {
    background-color: transparent;
  }

  td,
  th {
    padding: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--casual-normal-bg);
  }

  &--striped {
    tbody tr:nth-child(2n) {
      background-color: var(--casual-table-striped-bg);
    }
  }

  &--no-data {
    text-align: center;
    color: var(--casual-copywriting-light);
  }

  $names: td, th;

  @each $name in $names {
    &--#{$name} {
      &--sticky {
        &-left,
        &-right {
          background-color: var(--casual-table-bg);
          position: sticky;
        }

        &-left {
          left: var(--c-table-sticky-left, 0);
        }

        &-right {
          right: var(--c-table-sticky-right, 0);
        }
      
        &-max-left {
          box-shadow: var(--casual-table-sticky-shadow-left);
        }

        &-min-right {
          box-shadow: var(--casual-table-sticky-shadow-right);
        }
      }
    }
  }
  
}
