.c-tag {
  @extend %c-inline-flex;
  @extend %c-items-center;

  &--close-icon {
    cursor: pointer;
    width: 1em;
    height: 1em;
    padding: 1px;
    border-radius: 50%;

    &:hover {
      color: var(--casual-pure-white);
    }
  }

  &--theme {
    &-primary {
      background-color: var(--casual-primary-pale);
      color: var(--casual-primary);

      .c-tag--close-icon:hover {
        background-color: var(--casual-primary);
      }

      &.c-tag--solid {
        background-color: var(--casual-primary);
        color: var(--casual-primary-pale);

        .c-tag--close-icon:hover {
          background-color: var(--casual-primary-pale);
          color: var(--casual-primary);
        }
      }
    }

    &-secondary {
      color: var(--casual-secondary);
      background-color: var(--casual-secondary-pale);
      
      .c-tag--close-icon:hover {
        background-color: var(--casual-secondary);
      }
      
      &.c-tag--solid {
        background-color: var(--casual-secondary);
        color: var(--casual-secondary-pale);

        .c-tag--close-icon:hover {
          background-color: var(--casual-secondary-pale);
          color: var(--casual-secondary);
        }
      }

    }

    &-warning {
      color: var(--casual-warning);
      background-color: var(--casual-warning-pale);

      .c-tag--close-icon:hover {
        background-color: var(--casual-warning);
      }

      &.c-tag--solid {
        background-color: var(--casual-warning);
        color: var(--casual-warning-pale);

        .c-tag--close-icon:hover {
          background-color: var(--casual-warning-pale);
          color: var(--casual-warning);
        }
      }
     
    }

    &-negative {
      color: var(--casual-negative);
      background-color: var(--casual-negative-pale);

      .c-tag--close-icon:hover {
        background-color: var(--casual-negative);
      }

      &.c-tag--solid {
        background-color: var(--casual-negative);
        color: var(--casual-negative-pale);

        .c-tag--close-icon:hover {
          background-color: var(--casual-negative-pale);
          color: var(--casual-negative);
        }
      }
    }
  }
}
