@use 'sass:map';

.c-tree {
  &--title {
    @extend %c-flex, %c-items-center;

    position: relative;
  }

  &--leaf {
    @extend %c-pa-xs;

    position: relative;
  }

  &--leading-icon {
    @extend %c-mr-xs;

    font-size: 18px;
    transition: transform .2s ease-in-out;

    &--expanded {
      transform: rotate(90deg);
    };
  }

  &--sub {
    @extend %c-pl-xl;
  }

  .c-expansion {
    &--body {
      position: relative;
    }

    &--header {
      @extend %c-py-sm, %c-px-xs;

      &:not(:hover, :active) {
        background-color: unset;
      }
    }
  }

  // with connectors
  &--connectors {
    .c-tree {
      &--sub {
        &::after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 9px + map.get($map: $basic-padding-sizes, $key: 'xs');
          bottom: 0;
          width: 1px;
          background-color: var(--casual-copywriting-normal);
          transform: translateX(-50%);
        }
      }

      @mixin connector {
        position: absolute;
        content: ' ';
        top: 50%;
        transform: translate(0, -50%);
        height: 1px;
        background-color: var(--casual-copywriting-normal);
      }
      
      &--leaf {
        &::after {
          @include connector;

          right: 100%;
          left: -8px - map.get($basic-padding-sizes, 'xs');
        }
      }
      
      .c-tree--title {
        &::after {
          @include connector;

          right: calc(100% + map.get($map: $basic-padding-sizes, $key: 'xs'));
          left: -8px - 2 * map.get($basic-padding-sizes, 'xs');
        }
      }
    } 
  }
}